Source: gimp3-plugin-fourier
Section: graphics
Priority: optional
Maintainer: Rémi Peyronnet <remi+fourier@via.ecp.fr>
Build-Depends: autotools-dev, libfftw3-dev, libgimp-3.0-dev
Standards-Version: 4.5.1
Homepage: https://www.lprp.fr/gimp_plugin_en/
#Vcs-Browser: https://salsa.debian.org/debian/fourier3
#Vcs-Git: https://salsa.debian.org/debian/fourier3.git
Rules-Requires-Root: no

Package: gimp3-plugin-fourier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GIMP Plugin to do forward and reverse Fourier Transform
  This GIMP plugin will add two items in the filters menu
  Filters/Generic/FFT Forward and Filters/Generic/FFT Inverse
  It does a direct and reverse Fourier Transform.
  It allows you to work in the frequency domain.
  For instance, it can be used to remove moiré patterns from images 
  scanned from books (See README.Moire), or regular banding noise.
